/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans&display=swap');

/* common styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

a {
    color: #424242;
    text-decoration: none;
}

.btn-primary {
    color: #FFFFFF;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Brand banner styles */

.brand-banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: 90%;
    margin: 70px auto;
}

.banner-detail {
    width: 862px;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.banner-thumbnail img {
    width: 100%;
}

/* Feature One styles */
.feature-one {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    margin-bottom: 100px;
}

.feature-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-team img {
    width: 100%;
}

.feature-one-title {
    color: #727272;
    font-weight: 700;
    font-size: 45px;
}

.title-color-one {
    color: #131313;
}

.title-color-two {
    color: #FF900E;
}

/* Feature two styles */

.feature-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.feature-two-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    border-left: 4px solid #FF900E;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feature-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.feature-two-banner img {
    width: 100%;
}

.features-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.btn-experience {
    color: #FFFFFF;
    background: #FF900E;
    padding: 20px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 65px;
}

.btn {
    position: relative;
    left: 5%;
    top: -50px;
}

/* Fact section */

.fact-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.fact {
    width: 200px;
    padding: 25px 0;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 2s;
}

.fact:hover {
    transform: rotate(360deg);
    background-color: lightpink;
}

.fact-view {
    font-size: 45px;
    font-weight: 700;
}


/* Responsive for small device / mobile */
@media only screen and (max-width:576px) {

    .navbar,
    .nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header-title {
        font-size: 2em;
    }

    .brand-banner-section {
        margin-top: 10px;
        gap: 30px;
    }

    .banner-detail {
        width: 100%;
    }

    .banner-title {
        font-size: 2.5em;
    }

    .feature-one {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .feature-team {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .feature-one-title {
        font-size: 2em;
    }

    .feature-two-section {
        display: flex;
        flex-direction: column;
    }

    .feature-two {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-two-title {
        font-size: 2em;
    }

    .btn {
        left: 10%;
        top: -50px;
    }

    .fact-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .fact {
        margin: 0 auto;
    }
}